fastapi
uvicorn[standard]
requests
sqlmodel # postgres, maridb, mysql, sqlite, oracle, mssql
sqlalchemy # pinned to ensure psycopg v3 driver support
psycopg[binary] # postgres with python (psycopg v3, NOT psycopg2)
